@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

:root {
  --text: #000;
  --text-transparent: #00000080;
  --text-gray: #666469;
  --bg: #8193af6b;
  --border: #d3d3d33b;
  --dropdown: #ffffffe0;
  --dropdown-item-hover: #4b99fd;
  --divider: #d3d3d37c;
  --app-bg: #ffffff;

  --btn-close: #ff0000;
  --btn-min: #ffff00;
  --btn-max: #00ff00;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #fff;
    --text-transparent: #ffffff80;
    --text-gray: #bdc1c5;
    --bg: #1b1b1d4d;
    --border: #d3d3d33b;
    --dropdown: #1b1b1dda;
    --dropdown-item-hover: #4b99fd;
    --divider: #d3d3d37c;
    --app-bg: #262226;
  }
}

[data-theme="light"] {
  --text: #000;
  --text-transparent: #00000080;
  --text-gray: #666469;
  --bg: #8193af6b;
  --border: #d3d3d33b;
  --dropdown: #ffffffe0;
  --dropdown-item-hover: #4b99fd;
  --divider: #d3d3d37c;
  --app-bg: #ffffff;
}

[data-theme="dark"] {
  --text: #fff;
  --text-transparent: #ffffff80;
  --text-gray: #bdc1c5;
  --bg: #1b1b1d4d;
  --border: #d3d3d33b;
  --dropdown: #1b1b1dda;
  --dropdown-item-hover: #4b99fd;
  --divider: #d3d3d37c;
  --app-bg: #262226;
}

@layer components {
  .widget-dropdown {
    @apply absolute duration-300 -right-1 top-full w-80 opacity-0 invisible rounded overflow-hidden p-3 bg-dropdown border border-solid border-border flex flex-col items-stretch gap-5  group-focus-within:opacity-100 group-focus-within:visible;
  }
  .widget-label {
    @apply bg-transparent h-full border-none px-2 cursor-pointer text-white flex items-center focus-within:bg-app-transparent;
  }
  .widget-dock {
    @apply fixed left-1/2 bottom-3 w-auto z-40 -translate-x-1/2 flex items-end bg-bg border border-solid border-border p-2 gap-1 rounded-3xl h-18 duration-300;
  }

  .action-btn {
    @apply rounded-full text-transparent group-hover:text-gray group-hover:cursor-pointer w-3 h-3 text-center select-none duration-200 transition-all text-tiny leading-3 font-bold;
  }
}

.item:hover + .item img {
  -webkit-transform: scale(1.4);
  margin: 0 1.2rem;
}
